.session {   
    height: 100%;
}

.session .well-title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}

.session span {
    display: block;
}

.container {
    padding: 20px;
}

.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
    height: 64px;
    padding: 7px;
}

.votingButton {
    padding-left:6px;
    cursor:pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

.hoverwell:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

/*.view-enter, .view-leave, .slide-enter, .slide-leave, .wave-enter, .wave-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:-100px;
  opacity:0;
}
*/



.enter-setup {
    position:absolute;
    -webkit-transition: 0.3s ease-out all;
    -webkit-transform:translate3d(100%,0,0) ;
}
.enter-setup.enter-start {
    position:absolute;
    -webkit-transform:translate3d(0,0,0) ;
}
.leave-setup {
    position:absolute;
    -webkit-transition: 0.3s ease-out all;
    -webkit-transform:translate3d(0,0,0);
}
.leave-setup.leave-start {
    position:absolute;
    -webkit-transform:translate3d(-100%,0,0);
}